{%extends 'base.html'%}
{%block content%}

    <h1>Welcome</h1><br><br>
       <header class="wrapper">
    <nav>
    {%if user.is_authenticated%}

        <a href="{%url 'App:homepage'%}"><button type="button" class="btn btn-success">Start Chat</button></a>

    {%else%}
        <ul>
          <div class="btn-group">
              <h3><pre>to start chat please - </pre> </h3>
  <a href="{%url 'Account:login'%}" class="btn btn-primary active" aria-current="page">Login</a>
  <a href= "{%url 'Account:signup'%}" class="btn btn-primary">Sign in</a>
     {%endif%}

        </ul>
        </nav>

       </header>

{% endblock %}